# Terraform
**/.terraform/*
*.tfstate
*.tfstate.*
crash.log
crash.*.log
*.tfvars
*.tfvars.json

# Terraform plans
*.tfplan

# Python
__pycache__/
*.pyc
.venv/
venv/

# Jupyter
.ipynb_checkpoints/

# Docker/PostgreSQL local data
**/postgres/data/
**/pgdata/

# Environment variables and secrets
.env
.env.*
!.env.example

# Editors
.vscode/
.idea/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log