---Criando os Schemas do Data Warehouse
CREATE SCHEMA IF NOT EXISTS staging;
CREATE SCHEMA IF NOT EXISTS dw;
CREATE SCHEMA IF NOT EXISTS mart;

--- CRIANDO AS TABELAS DIMENSÃO DO DATA WAREHOUSE

---Criando a Tabela Dimensão de Cliente
CREATE TABLE dw.dim_customer (
    customer_key             BIGINT IDENTITY(1,1) NOT NULL,
    customer_id              VARCHAR(10) NOT NULL,
    customer_name            VARCHAR(50) NOT NULL,
    customer_type            VARCHAR(50),
    credit_terms_days        INTEGER,
    primary_freight_type     VARCHAR(50),
    account_status           VARCHAR(50),
    contract_start_date      DATE,
    annual_revenue_potential DECIMAL(15,2),

    effective_start_date     TIMESTAMP NOT NULL,
    effective_end_date       TIMESTAMP,
    is_current               BOOLEAN NOT NULL DEFAULT TRUE,

    PRIMARY KEY (customer_key)
)
DISTSTYLE ALL
SORTKEY (customer_id);


---Criando a Tabela Dimensão de Rota
CREATE TABLE dw.dim_route (
    route_key        BIGINT IDENTITY(1,1) NOT NULL,
    route_id         VARCHAR(10) NOT NULL,
    origin_city      VARCHAR(50) NOT NULL,
    origin_state     VARCHAR(2)  NOT NULL,
    destination_city VARCHAR(50) NOT NULL,
    destination_state VARCHAR(2) NOT NULL,
    typical_distance_miles DECIMAL(10,2),
    base_rate_per_mile DECIMAL(10,2),
    fuel_surcharge_rate DECIMAL(8,2),
    typical_transit_days DECIMAL(6,2),

    PRIMARY KEY (route_key)
)
DISTSTYLE ALL
SORTKEY (route_id);

--- Criando a Tabela Dimensão de Motorista
CREATE TABLE dw.dim_driver (
    driver_key        BIGINT IDENTITY(1,1) NOT NULL,
    driver_id         VARCHAR(10) NOT NULL,
    first_name        VARCHAR(50) NOT NULL,
    last_name         VARCHAR(50) NOT NULL,
    full_name         VARCHAR(100) NOT NULL,
    hire_date         DATE NOT NULL,
    termination_date  DATE,
    license_state     VARCHAR(2) NOT NULL,
    home_terminal     VARCHAR(50) NOT NULL,
    employment_status VARCHAR(20) NOT NULL,
    cdl_class         VARCHAR(10) NOT NULL,
    years_experience  INTEGER NOT NULL,
    effective_start_date DATE NOT NULL,
    effective_end_date   DATE,
    is_current         BOOLEAN NOT NULL DEFAULT TRUE,

    PRIMARY KEY (driver_key),

    DISTSTYLE ALL,
    SORTKEY (driver_id, effective_start_date)

)
DISTSTYLE ALL
SORTKEY (driver_id, effective_start_date);

--- Criando a Tabela Dimensão de Caminhões
CREATE TABLE dw.dim_truck (
    truck_key BIGINT IDENTITY(1,1) NOT NULL,
    truck_id VARCHAR(10) NOT NULL,
    unit_number VARCHAR(20) NOT NULL,
    make VARCHAR(50) NOT NULL,
    model_year SMALLINT NOT NULL,
    acquisition_date DATE NOT NULL,
    fuel_type VARCHAR(20) NOT NULL,
    tank_capacity_gallons DECIMAL(10,2) NOT NULL,
    status_truck VARCHAR(20) NOT NULL,
    home_terminal VARCHAR(50) NOT NULL,
    effective_start_date DATE NOT NULL,
    effective_end_date DATE,
    is_current BOOLEAN NOT NULL DEFAULT TRUE,

    PRIMARY KEY (truck_key)


)
DISTSTYLE ALL
SORTKEY (truck_id, effective_start_date);

--- Criando a Tabela Dimensão de Trailers
CREATE TABLE dw.dim_trailer (
    trailer_key BIGINT IDENTITY(1,1) NOT NULL,
    trailer_id VARCHAR(10) NOT NULL,
    trailer_number VARCHAR(20) NOT NULL,
    trailer_type VARCHAR(50) NOT NULL,
    lenght_feet DECIMAL(6,2) NOT NULL,
    model_year SMALLINT NOT NULL,
    acquisition_date DATE NOT NULL,
    status_trailer VARCHAR(20) NOT NULL,
    current_location VARCHAR(50) NOT NULL,
    effective_start_date DATE NOT NULL,
    effective_end_date DATE,
    is_current BOOLEAN NOT NULL DEFAULT TRUE,

    PRIMARY KEY (trailer_key)
)
DISTYLE ALL
SORTKEY (trailer_id, effective_start_date);

--- Criando a Tabela Dimensão de Centros de Distribuição
CREATE TABLE dw.dim_facility (
    facility_key BIGINT IDENTITY(1,1) NOT NULL,
    facility_id VARCHAR(10) NOT NULL,
    facility_name VARCHAR(50) NOT NULL,
    facility_type VARCHAR(20) NOT NULL,
    city VARCHAR(50) NOT NULL,
    state VARCHAR(2) NOT NULL,
    latitude DECIMAL(9,6) NOT NULL,
    longitude DECIMAL(9,6) NOT NULL,
    dock_doors SMALLINT NOT NULL,
    operating_hours VARCHAR(50) NOT NULL,

    PRIMARY KEY (facility_key)
)
DISTSTYLE ALL
SORTKEY (facility_id);


---Criar a Tabela Dimensão de Localização
CREATE TABLE dw.dim_location (
    location_key BIGINT IDENTITY(1,1) NOT NULL,
    city VARCHAR(20) NOT NULL,
    state VACHAR(20) NOT NULL,
    country VARCHAR(20) NOT NULL,
    region VARCHAR(20) NOT NULL,
    location_description VARCHAR(100) NOT NULL,

    PRIMARY KEY (location_key)
)
DISTSTYLE ALL
SORTKEY (location_key);

---Criando a Tabela Dimensão de Data
CREATE TABLE dw.dim_date (
    date_key       INTEGER      NOT NULL,
    full_date      DATE         NOT NULL,
    day_number     SMALLINT     NOT NULL,
    day_name       VARCHAR(10)  NOT NULL,
    week_of_year   SMALLINT     NOT NULL,
    month_number   SMALLINT     NOT NULL,
    month_name     VARCHAR(10)  NOT NULL,
    quarter_number SMALLINT     NOT NULL,
    year_number    SMALLINT     NOT NULL,
    is_weekend     BOOLEAN      NOT NULL,

    PRIMARY KEY (date_key)
)
DISTSTYLE ALL
SORTKEY (full_date);

--- Criando a Tabela Dimensão de Perfil de Carga
CREATE TABLE dw.dim_load_profile (
    load_prrofile_key BIGINT IDENTITY(1,1) NOT NULL,
    load_type VARCHAR(20) NOT NULL,
    booking_type VARCHAR(20) NOT NULL,
    load_status VARCHAR(20) NOT NULL,

    PRIMARY KEY (load_prrofile_key)
)
DISTSTYLE ALL
SORTKEY (load_profile_key);

--- Criando a Tabela Dimensão de Status de Carga
CREATE TABLE dw.dim_load_status (
    load_status_key BIGINT IDENTITY(1,1) NOT NULL,
    load_status VARCHAR(20) NOT NULL,
    status_group VARCHAR(20) NOT NULL,
    is_completed BOOLEAN NOT NULL DEFAULT FALSE,
    is_canceled BOOLEAN NOT NULL DEFAULT FALSE,

    PRIMARY KEY (load_status_key)
)
DISTSTYLE ALL
SORTKEY (load_status_key);

--- CRIANDO AS TABELAS FATO DO DATA WAREHOUSE

---Criando a Tabela Fato de Carga
CREATE TABLE dw.fact_load (
    load_key BIGINT IDENTITY(1,1) NOT NULL,
    load_id VARCHAR(10) NOT NULL,
    customer_key BIGINT NOT NULL,
    route_key BIGINT NOT NULL,
    load_date_key INTEGER NOT NULL,
    load_profile_key BIGINT,
    weight_lbs DECIMAL(15,2),
    pieces INTEGER,
    revenue DECIMAL(15,2),
    fuel_surcharge DECIMAL(15,2),
    accessorial_charges DECIMAL(15,2),
    total_load_revenue DECIMAL(15,2),
    load_count SMALLINT NOT NULL DEFAULT 1,

    PRIMARY KEY (load_key),
    FOREIGN KEY (customer_key)
        REFERENCES dw.dim_customer(customer_key),

    FOREIGN KEY (route_key)
        REFERENCES dw.dim_route(route_key),
    
    FOREIGN KEY (load_date_key)
        REFERENCES dw.dim_date(date_key)

    FOREIGN KEY (load_profile_key)
        REFERENCES dw.dim_load_profile(load_profile_key)
)
DISTSTYLE AUTO
SORTKEY (load_date_key);

---Criando a Tabela Fato de Entrega
CREATE TABLE dw.fact_trip (
    trip_key BIGINT IDENTITY(1,1) NOT NULL,
    trip_id VARCHAR(10) NOT NULL,
    load_id VARCHAR(10) NOT NULL,
    driver_key BIGINT NOT NULL,
    truck_key BIGINT NOT NULL,
    trailer_key BIGINT NOT NULL,
    dispatch_date_key INTEGER NOT NULL,
    trip_status_key BIGINT NOT NULL,
    actual_departure_date TIMESTAMP,
    actual_duration_hours DECIMAL(6,2),
    fuel_gallons_used DECIMAL(10,2),
    average_mpg DECIMAL(6,2),
    idle_time_hours DECIMAL(6,2),
    trip_count SMALLINT NOT NULL DEFAULT 1,

    PRIMARY KEY (trip_key),
    FOREIGN KEY (driver_key)
        REFERENCES dw.dim_driver(driver_key),

    FOREIGN KEY (truck_key)
        REFERENCES dw.dim_truck(truck_key),

    FOREIGN KEY (trailer_key)
        REFERENCES dw.dim_trailer(trailer_key),

    FOREIGN KEY (dispatch_date_key)
        REFERENCES dw.dim_date(date_key),

    FOREIGN KEY (trip_status_key)
        REFERENCES dw.dim_load_status(load_status_key)
)
DISTSTYLE AUTO
SORTKEY (dispatch_date_key);

---Criando a Tabela Fato de Eventos da Entrega
CREATE TABLE dw.fact_delivery_event (
    event_key BIGINT IDENTITY(1,1) NOT NULL,
    event_id VARCHAR(10) NOT NULL,
    trip_id VARCHAR(10) NOT NULL,
    event_type VARCHAR(20) NOT NULL,
    facility_key BIGINT NOT NULL,
    location_key BIGINT NOT NULL,
    scheduled_date_key INTEGER NOT NULL,
    actual_date_key INTEGER,
    detention_minutes INTEGER,
    on_time_flag BOOLEAN NOT NULL DEFAULT FALSE,
    schedule_variance_minutes INTEGER,
    event_count SMALLINT NOT NULL DEFAULT 1,
    late_event_count SMALLINT NOT NULL DEFAULT 0,

    PRIMARY KEY (event_key),

    FOREIGN KEY (facility_key)
        REFERENCES dw.dim_facility(facility_key),

    FOREIGN KEY (location_key)  
        REFERENCES dw.dim_location(location_key),

    FOREIGN KEY (scheduled_date_key)
        REFERENCES dw.dim_date(date_key),

    FOREIGN KEY (actual_date_key)
        REFERENCES dw.dim_date(date_key)
)
DISTSTYLE AUTO
SORTKEY (scheduled_date_key);

--- Criando a Tabela Fato de Combustível
CREATE TABLE dw.fact_fuel_purchase (
    fuel_purchase_key BIGINT IDENTITY(1,1) NOT NULL,
    fuel_purchase_id VARCHAR(10) NOT NULL,
    trip_id VARCHAR(10) NOT NULL,
    driver_key BIGINT NOT NULL,
    truck_key BIGINT NOT NULL,
    purchase_date_key INTEGER NOT NULL,
    location_key BIGINT NOT NULL,
    gallons DECIMAL(10,2) NOT NULL,
    price_per_gallon DECIMAL(10,2) NOT NULL,
    total_cost DECIMAL(15,2) NOT NULL,
    fuel_purchase_count SMALLINT NOT NULL DEFAULT 1,

    PRIMARY KEY (fuel_purchase_key),

    FOREIGN KEY (driver_key)
        REFERENCES dw.dim_driver(driver_key),

    FOREIGN KEY (truck_key)
        REFERENCES dw.dim_truck(truck_key),

    FOREIGN KEY (purchase_date_key)
        REFERENCES dw.dim_date(date_key),

    FOREIGN KEY (location_key)
        REFERENCES dw.dim_location(location_key
)
DISTSTYLE AUTO
SORTKEY (purchase_date_key);

---Criando a Tabela Fato de Manutenção
CREATE TABLE dw.fact_maintenance (
    maintenance_key BIGINT IDENTITY(1,1) NOT NULL,
    maintenance_id VARCHAR(10) NOT NULL,
    truck_key BIGINT NOT NULL,
    maintenance_date_key INTEGER NOT NULL,
    location_key BIGINT NOT NULL,
    maintenance_type VARCHAR(50) NOT NULL,
    service_description VARCHAR(100) NOT NULL,
    odometer_reading DECIMAL(10,2) NOT NULL,
    labor_hours DECIMAL(6,2) NOT NULL,
    labor_cost DECIMAL(15,2) NOT NULL,
    parts_cost DECIMAL(15,2) NOT NULL,
    total_cost DECIMAL(15,2) NOT NULL,
    downtime_hours DECIMAL(6,2) NOT NULL,
    maintenance_count SMALLINT NOT NULL DEFAULT 1,

    PRIMARY KEY (maintenance_key),

    FOREIGN KEY (truck_key)
        REFERENCES dw.dim_truck(truck_key),

    FOREIGN KEY (maintenance_date_key)
        REFERENCES dw.dim_date(date_key),

    FOREIGN KEY (location_key)
        REFERENCES dw.dim_location(location_key
)
DISTYLE AUTO
SORTKEY (maintenance_date_key);

--- Criando a Tabela Fato de Ocorrências de Segurança
CREATE TABLE dw.fact_safety_incident (
    safety_incident_key BIGINT IDENTITY(1,1) NOT NULL,
    incident_id VARCHAR(10) NOT NULL,
    trip_id VARCHAR(10) NOT NULL,
    driver_key BIGINT NOT NULL,
    truck_key BIGINT NOT NULL,
    incident_date_key INTEGER NOT NULL,
    location_key BIGINT NOT NULL,
    incident_type VARCHAR(50) NOT NULL,
    at_fault_flag BOOLEAN NOT NULL DEFAULT FALSE,
    injury_flag BOOLEAN NOT NULL DEFAULT FALSE,
    preventable_flag BOOLEAN NOT NULL DEFAULT FALSE,
    description VARCHAR(200) NOT NULL,
    vehicle_damage_cost DECIMAL(15,2) NOT NULL,
    cargo_damage_cost DECIMAL(15,2) NOT NULL,
    claim_amount DECIMAL(15,2) NOT NULL,
    incident_count SMALLINT NOT NULL DEFAULT 1,
    injury_incident_count SMALLINT NOT NULL DEFAULT 0,
    preventable_incident_count SMALLINT NOT NULL DEFAULT 0,
    at_fault_incident_count SMALLINT NOT NULL DEFAULT 0,

    PRIMARY KEY (safety_incident_key),

    FOREIGN KEY (driver_key)
        REFERENCES dw.dim_driver(driver_key),

    FOREIGN KEY (truck_key)
        REFERENCES dw.dim_truck(truck_key),

    FOREIGN KEY (incident_date_key)
        REFERENCES dw.dim_date(date_key),

    FOREIGN KEY (location_key)
        REFERENCES dw.dim_location(location_key)
)
DISTSTYLE AUTO
SORTKEY (incident_date_key);


















---Criando a Tabela Dimensão de Carga
CREATE TABLE dw.fact_load (
    load_key             BIGINT IDENTITY(1,1) NOT NULL,
    load_id              VARCHAR(10) NOT NULL,

    customer_key         BIGINT NOT NULL,
    route_key            BIGINT NOT NULL,
    load_date_key        INTEGER NOT NULL,
    load_profile_key     BIGINT,

    weight_lbs           DECIMAL(15,2),
    pieces               INTEGER,
    revenue              DECIMAL(15,2),
    fuel_surcharge       DECIMAL(15,2),
    accessorial_charges  DECIMAL(15,2),
    total_load_revenue   DECIMAL(15,2),
    load_count           SMALLINT NOT NULL DEFAULT 1,

    PRIMARY KEY (load_key),

    FOREIGN KEY (customer_key)
        REFERENCES dw.dim_customer(customer_key),

    FOREIGN KEY (route_key)
        REFERENCES dw.dim_route(route_key),

    FOREIGN KEY (load_date_key)
        REFERENCES dw.dim_date(date_key)
)
DISTSTYLE AUTO
SORTKEY (load_date_key);

